<span class="help is-danger">{{ errors }}</span>
<form class="field" [formGroup]="addHeroFields" (ngSubmit)="onSubmit()">
    <div class="control">

        <table class="table-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="table-full-width">
                        <mat-label>Псевдоним</mat-label>
                        <input matInput formControlName="nickname" placeholder="Superman">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="table-full-width">
                        <mat-label>Настоящее имя</mat-label>
                        <input matInput formControlName="realName" placeholder="Klark Kent">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="table-full-width">
                        <mat-label>Девиз</mat-label>
                        <input matInput formControlName="catchPhrase" #postalCode placeholder="The law is me">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field class="table-full-width">
            <mat-label>Суперсилы</mat-label>
            <textarea matInput formControlName="superpowers" cdkTextareaAutosize placeholder="Laser" #autosize="cdkTextareaAutosize"></textarea>
        </mat-form-field>

        <app-dnd (onChanged)="imageAddorDelete($event)"></app-dnd>

    </div>
</form>
<button type="button" [disabled]="(!addHeroFields.valid || !heroImages)" class="button is-primary" [class.is-loading]="isLoading">Добавить героя</button>